<div class="forgot">

  <span class="forgot__title heading-big">
    Forgot password
  </span>

  <p
    @fadeTrigger
    *ngIf="state === 'email'"
    class="forgot__welcome greeting"
  >
    Forgot your password? No biggie. Please enter your account's email address to receive an email with a unique link
    for a password reset.
  </p>

  <p
    @fadeTrigger
    *ngIf="state === 'sent'"
    class="forgot__welcome greeting"
  >
    Thanks! Email sent.
  </p>

  <form
    (submit)="onForgot(forgotForm)"
    #forgotForm="ngForm"
    *ngIf="!isLoading && state !== 'sent'"
    class="forgot__form"
  >

    <span class="forgot__form--label">Email</span>
    <input
      type="email"
      required
      ngModel
      name="email"
      #emailInput="ngModel"
      class="forgot__form--input input-bar"
    >

    <button
      [disabled]="!forgotForm.valid"
      class="forgot__form--forgot cta-btn"
    >Send</button>

  </form>

  <span
    *ngIf="isLoading && state !== 'sent'"
    class="loading"
  >Loading...</span>

</div>
