.login {
  display: grid;
  grid-template-rows: 8vh 10vh 10vh 30vh;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;

  padding: 6rem 12rem;

  &__signup {
    justify-self: flex-end;

    transform: translateY(-1rem);
  }

  &__form {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    gap: 1rem;

    transform: translateY(-4rem);

    padding: 3rem 5rem;

    background-color: rgba(black, 0.6);
    border-radius: 0.8rem;

    &--label {
      font-size: 1.8rem;
      text-align: right;
      text-transform: lowercase;
      font-weight: 300;
      line-height: 1;
    }

    &--forgot {
      grid-column: 1 / -1;
      grid-row: 3;
      justify-self: flex-start;

      transform: translateX(1rem);

      padding: 0.5rem;

      font-size: 1.2rem;
      text-align: right;
      text-transform: uppercase;
      font-weight: 300;

      &:hover {
        background-color: var(--color-mocha);
      }
    }

    &--login {
      grid-column: 2;
      grid-row: 3;
      justify-self: flex-end;
    }
  }
}

.loading {
  transform: translateY(-10rem);
}
