<div class="login">

  <span class="login__title heading-big">
    Login
  </span>

  <p
    @fadeTrigger
    *ngIf="state === 'welcome'"
    class="login__welcome greeting"
  >
    Welcome. Are you the people's barista champion yet?
    If not, get started by signing up. Otherwise, go ahead and log in, champ!
  </p>

  <p
    @fadeTrigger
    *ngIf="state === 'star'"
    class="login__welcome greeting"
  >
    Please log in to star drinks and have an easier access
    to the ones you're currently having trouble with.
    If you do not have an account, then please sign up.
  </p>

  <a
    routerLink="/auth/signup"
    class="login__signup btn-small"
  >Join Baristabook</a>

  <form
    (submit)="onLogin(loginForm)"
    #loginForm="ngForm"
    *ngIf="!isLoading"
    class="login__form"
  >

    <span class="login__form--label">Email</span>
    <input
      type="email"
      required
      ngModel
      name="email"
      #emailInput="ngModel"
      class="login__form--input"
    >

    <span class="login__form--label">Password</span>
    <input
      type="password"
      required
      ngModel
      name="password"
      #passwordInput="ngModel"
      class="login__form--input"
    >

    <a
      routerLink="/auth/forgot/email"
      class="login__form--forgot"
    >Forgot password</a>

    <button class="login__form--login cta-btn">Login</button>

  </form>

  <span
    *ngIf="isLoading"
    class="loading"
  >Loading...</span>

</div>
