.drink-container {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;

  height: 100%;

  @media only screen and (max-height: 34em) {
    //550
    transform: scale(0.7);
  }
}
