<div class="drink-container">
  <div
    [ngClass]="{ 'drink-card__style--hot': drink.form === 'Hot',
    'drink-card__style--iced': drink.form === 'Iced',
    'drink-card__style--frozen': drink.form === 'Frozen'}"
    class="drink-card box-shadow-sharp"
  >

    <!-- STAR -->
    <div class="drink-card__star">
      <button
        *ngIf="userIsAuth"
        (click)="clickHandler($event)"
        class="drink-card__star--btn emboss"
      >{{ star }}
      </button>

      <button
        *ngIf="!userIsAuth"
        [routerLink]="['/auth/login/star']"
        routerLinkActive="active"
        class="drink-card__star--btn emboss"
        style="color: var(--color-earth);"
      >★
      </button>
    </div>

    <!-- CODE -->
    <div class="drink-card__code">
      <span class="drink-card__code--box"></span>
      <span class="drink-card__code--letter">{{ drink?.code }}</span>
    </div>

    <!-- MISC -->
    <div class="drink-card__misc">

      <span class="drink-card__misc--season">
        <span *ngIf="drink.season === 'Year round'"><img
            src="assets/season-year.svg"
            alt="Fall icon"
            style="height: 2.6rem;"
          ></span>

        <span *ngIf="drink.season === 'Winter'"><img
            src="assets/season-winter.svg"
            alt="Fall icon"
          ></span>

        <span *ngIf="drink.season === 'Spring'"><img
            src="assets/season-spring.svg"
            alt="Fall icon"
          ></span>

        <span *ngIf="drink.season === 'Summer'"><img
            src="assets/season-summer.svg"
            alt="Fall icon"
          ></span>

        <span *ngIf="drink.season === 'Fall'"><img
            src="assets/season-fall.svg"
            alt="Fall icon"
          ></span>
      </span>

      <span
        [ngClass]="{ 'drink-card__misc--form-hot': drink.form === 'Hot',
      'drink-card__misc--form-iced': drink.form === 'Iced',
      'drink-card__misc--form-frozen': drink.form === 'Frozen'}"
        class="drink-card__misc--form text-xsmall"
      >{{ drink?.form }}</span>

    </div>

    <!-- VALUES -->
    <div class="scroll-container">
      <ul class="drink-card__value">

        <li class="drink-card__value--pair">
          <span class="drink-card__value--pair-key">Name</span>
          <span class="drink-card__value--pair-value">{{ drink?.name }}</span>
        </li>

        <li class="drink-card__value--pair">
          <span class="drink-card__value--pair-key">Size</span>
          <span class="drink-card__value--pair-value">
            <span class="drink-card__value--pair-box1">{{ drink?.size[0] }}</span>
            <span class="drink-card__value--pair-box2">{{ drink?.size[1] }}</span>
            <span class="drink-card__value--pair-box3">{{ drink?.size[2] }}</span>
            <span class="drink-card__value--pair-box4">{{ drink?.size[3] }}</span>
          </span>
        </li>

        <li
          *ngIf="drink.caffeine"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">{{ drink?.caffeine }}</span>
          <span class="drink-card__value--pair-value">
            <span class="drink-card__value--pair-box1">{{ drink?.caffeineCount[0] }}</span>
            <span class="drink-card__value--pair-box2">{{ drink?.caffeineCount[1] }}</span>
            <span class="drink-card__value--pair-box3">{{ drink?.caffeineCount[2] }}</span>
            <span class="drink-card__value--pair-box4">{{ drink?.caffeineCount[3] }}</span>
          </span>
        </li>

        <li
          *ngIf="drink.syrup"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">{{ drink?.syrup }}</span>
          <span class="drink-card__value--pair-value">
            <span class="drink-card__value--pair-box1">{{ drink?.syrupCount[0] }}</span>
            <span class="drink-card__value--pair-box2">{{ drink?.syrupCount[1] }}</span>
            <span class="drink-card__value--pair-box3">{{ drink?.syrupCount[2] }}</span>
            <span class="drink-card__value--pair-box4">{{ drink?.syrupCount[3] }}</span>
          </span>
        </li>

        <li
          *ngIf="drink.body"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Body</span>
          <span class="drink-card__value--pair-value">{{ drink?.body }}</span>
        </li>

        <li
          *ngIf="drink.base"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">{{ drink?.base }}</span>
          <span class="drink-card__value--pair-value">
            <span class="drink-card__value--pair-box1">{{ drink?.baseCount[0] }}</span>
            <span class="drink-card__value--pair-box2">{{ drink?.baseCount[1] }}</span>
            <span class="drink-card__value--pair-box3">{{ drink?.baseCount[2] }}</span>
            <span class="drink-card__value--pair-box4">{{ drink?.baseCount[3] }}</span>
          </span>
        </li>

        <li
          *ngIf="drink.whippedCream"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Whipped Cream</span>
          <span class="drink-card__value--pair-value">{{ drink?.whippedCream }}</span>
        </li>

        <li
          *ngIf="drink.topping"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Topping</span>
          <span class="drink-card__value--pair-value">{{ drink?.topping }}</span>
        </li>

        <li
          *ngIf="drink.shaker"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Shaker</span>
          <span class="drink-card__value--pair-value">{{ drink?.shaker }}</span>
        </li>

        <li
          *ngIf="drink.shakerAddition"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Shaker Addition</span>
          <span class="drink-card__value--pair-value">{{ drink?.shakerAddition }}</span>
        </li>

        <li
          *ngIf="drink.driedFruit"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Dried Fruit</span>
          <span class="drink-card__value--pair-value">{{ drink?.driedFruit }}</span>
        </li>

        <li
          *ngIf="drink.custom"
          class="drink-card__value--pair"
        >
          <span class="drink-card__value--pair-key">Custom</span>
          <span class="drink-card__value--pair-value text-xsmall">{{ drink?.custom }}</span>
        </li>

      </ul>
    </div>

  </div>
</div>
