<div *ngIf="drink$ | async as drink;">
  <h2>{{ drink?.name }}</h2>

  <p>{{ drink?.code }}</p>
  
  <p>{{ drink?.form }}</p>
  
  <p>{{ drink?.season }}</p>
  
  <p>{{ drink?.size }}</p>
  
  <p>{{ drink?.caffeine }}</p>
  
  <p>{{ drink?.caffeineCount }}</p>
  
  <p>{{ drink?.syrup }}</p>
  
  <p>{{ drink?.syrupCount }}</p>
  
  <p>{{ drink?.body }}</p>
  
  <p>{{ drink?.whippedCream }}</p>
  
  <p>{{ drink?.topping }}</p>
  
  <p>{{ drink?.shaker }}</p>
  
  <p>{{ drink?.shakerAddition }}</p>
  
  <p>{{ drink?.driedFruit }}</p>
  
  <p>{{ drink?.custom }}</p>
</div>
