*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-espresso);

  overflow: hidden;
}

body {
  font-family: var(--font-primary);
  color: var(--color-blonde);
  font-weight: 400;
  line-height: 1.6;

  overflow: hidden;
}

::selection {
  color: var(--color-espresso);
  background-color: var(--color-blonde);
}
