*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-espresso);

  overflow: hidden;

  @media only screen and (max-height: 45em) {
    //720
    font-size: 52%;
  }

  @media only screen and (min-height: 45em) {
    //720
    font-size: 52%;
  }

  @media only screen and (min-height: 56em) {
    //900
    font-size: 62.5%;
  }

  @media only screen and (min-height: 67em) {
    //1080
    font-size: 80%;
  }

  @media only screen and (min-height: 90em) {
    //1440
    font-size: 120%;
  }

  @media only screen and (min-height: 135em) {
    //2160
    font-size: 150%;
  }
}

body {
  font-family: var(--font-primary);
  color: var(--color-blonde);
  font-weight: 400;
  line-height: 1.6;

  overflow: hidden;
}

::selection {
  color: var(--color-espresso);
  background-color: var(--color-blonde);
}
