a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--color-primary);
  }
}

input {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-small);
}

button {
  border: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
}

.heading-1 {
  font-size: var(--font-big);
  text-transform: uppercase;
}

.heading-2 {
  font-size: var(--font-medium);
  text-transform: uppercase;
}

.btn-1 {
  font-size: var(--font-small);
  text-transform: uppercase;

  background: none;
  color: var(--color-star);
}

.btn-2 {
  font-size: var(--font-xsmall);
  text-transform: uppercase;
}