a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--color-primary);
  }
}

input,
textarea {
  padding: 0.5rem;
  border: none;

  font-family: "Open Sans", sans-serif;
  font-size: var(--font-small);
}

button {
  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
  color: var(--color-star);
  cursor: pointer;
}

ul {
  list-style: none;
}

.heading-1 {
  font-size: var(--font-big);
  text-transform: uppercase;
}

.heading-2 {
  font-size: var(--font-medium);
  text-transform: uppercase;
}

.cta-btn {
  padding: 0.2rem 1rem;

  background-color: var(--color-star);
  border-radius: 2.4rem;

  color: var(--color-espresso);
  font-size: var(--font-medium);
  text-transform: uppercase;
}

.btn-1 {
  font-size: var(--font-small);
  text-transform: uppercase;

  background: none;
  color: var(--color-star);
}

.btn-2 {
  font-size: var(--font-medium);
  text-transform: uppercase;
}

.greeting {
  max-width: 60rem;

  font-size: var(--font-medium);
  text-align: justify;
  font-weight: 300;
}

.blurb {
  max-width: 60rem;

  font-size: var(--font-medium);
  font-weight: 300;
  text-align: justify;
  text-indent: 5rem;
}

.text-small {
  font-size: var(--font-small);
  text-transform: uppercase;
}

.text-xsmall {
  font-size: var(--font-xsmall);
  text-transform: uppercase;
}

.emboss {
  text-shadow: -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.7),
    0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}
