extends baseEmail

block content

    p Hi #{firstName},
        p Welcome to Baristabook. Thanks for signing up!
        p Please go ahead and browse the book to improve your barista expertise.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Start browsing
        p I hope the app is useful. With your continued suppport, there will be more features to come!
        p - Cara Lagumen, Baristabook Developer