extends baseEmail

block content

    p Hi #{firstName},
        p Welcome to Barista Book. Thanks for signing up!
        p Please go ahead and browse the book to improve your barista expertise.
        p I hope the app is useful. With your continued suppport, there will be more features to come!
        p - Cara Lagumen, Baristabook Developer