<div class="footer">

  <div class="footer__carapace">
    <a
      href="https://cara-pace.web.app/"
      class="footer__carapace-svg"
    >
      <img
        src="assets/carapace.svg"
        alt="Carapace logo"
      >
    </a>
  </div>

  <ul class="footer__nav">
    <li class="footer__nav--item">
      <a
        routerLink="/nav/share"
        class="footer__nav--link"
      >Share</a>
    </li>
    <li class="footer__nav--item"><a
        routerLink="/nav/about"
        class="footer__nav--link"
      >About</a>
    </li>
    <li class="footer__nav--item"><a
        routerLink="/nav/disclaimer"
        class="footer__nav--link"
      >Disclaimer</a>
    </li>
    <li class="footer__nav--item"><a
        routerLink="/nav/contact-us"
        class="footer__nav--link"
      >Contact Us</a>
    </li>
    <li class="footer__nav--item">
      <span class="footer__copyright">Crafted with ♥ by Cara Lagumen</span>
    </li>
  </ul>

  <!-- COSMETICS -->
  <div class="footer__bg1">&nbsp;</div>
  <div class="footer__bg2">&nbsp;</div>

</div>
