.footer {
  display: grid;
  grid-template-columns:
    [cara-start] 30vw
    [cara-end] 1fr
    [nav-start] 30vw
    [nav-end];

  color: var(--color-white);

  &__carapace {
    grid-column: cara-start / cara-end;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 300;

    padding-left: 1rem;

    transition: all 0.3s cubic-bezier(0.71, 0.01, 0.09, 1.51);

    &:hover {
      transform: scale(1.05);
    }
  }

  &__nav {
    grid-column: nav-start / nav-end;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 300;

    padding-bottom: 2.5rem;
    padding-right: 1rem;

    text-align: end;

    &--link {
      font-size: var(--font-small);
      font-weight: 300;
      text-transform: lowercase;

      transition: all 0.3s cubic-bezier(0.71, 0.01, 0.09, 1.51);

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 300;

    width: 20rem;

    padding-bottom: 0.5rem;
    padding-right: 1rem;

    text-transform: uppercase;
    text-align: end;
  }

  &__bg1 {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 15vh;
    width: 100vw;
    background-color: var(--color-earth);
    clip-path: polygon(0% 70%, 100% 0, 100% 100%, 0 100%);

    z-index: 200;
  }

  &__bg2 {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 15vh;
    width: 100vw;
    background-color: var(--color-mocha);
    clip-path: polygon(0% 30%, 100% 70%, 100% 100%, 0 100%);

    z-index: 100;
  }
}
