<!-- SEARCH FEATURE -->
<br>
<form>
  <label>
    <input
      type="text"
      (keyup)="searchTerm.next($event)"
    >🔎
    <br>
    <small *ngIf="searching">Searching...</small>
  </label>
</form>

<div *ngIf="searchResults">
  <ul *ngFor="let result of searchResults | slice:0:9">
    <a [routerLink]="['/drinks', result.id]">{{ result?.name }}</a>
  </ul>
</div>

<!-- MAIN -->
<br>
<span *ngIf="isLoading">Loading...</span>

<div *ngIf="!isLoading">
  <app-drink-item
    *ngFor="let drink of (drinks$ | async);"
    [drink]="drink"
    [userIsAuth]="userIsAuth"
    [starreds]="starreds"
  ></app-drink-item>

  <button (click)="onSort()">Sort by Name</button>
</div>
