<div class="drink-list-container">

  <!-- SEARCH FEATURE -->
  <div class="search border-inset">

    <div class="search__list">
      <button
        (click)="onListView()"
        [attr.btn-content]="mobileView"
        class="search__list--btn btn-small emboss"
      >
        <span>{{ view }}</span>
      </button>
    </div>

    <div class="search__bar">
      <form>
        <label>
          <input
            (keyup)="searchTerm.next($event)"
            (keydown.enter)="$event.preventDefault()"
            type="text"
            placeholder="Search"
            class="search__bar--input"
          >
        </label>
      </form>
    </div>

    <div class="search__sort">
      <button
        (click)="onSort()"
        class="search__sort--btn btn-small emboss"
      >
        <span>Sort A - Z</span>
      </button>
    </div>

    <div
      class="search__results"
      *ngIf="searchResults && !hidden"
    >
      <button
        (click)="onHideSearchResults()"
        *ngIf="searchResults.length > 0"
        class="search__results--close"
      >Close</button>

      <ul
        @fadeTrigger
        *ngFor="let result of searchResults | removeDuplicates"
      >
        <a
          [routerLink]="['/drinks/name', result.slug]"
          class="search__results--item"
        >{{ result?.name }}</a>
      </ul>
    </div>

    <div
      *ngIf="searching"
      class="search__loading loading"
    ></div>

  </div>

  <span
    *ngIf="!(drinks$ | async)"
    class="loading"
  >Loading...</span>

  <!-- MAIN VIEW -->
  <div
    @fadeTrigger
    *ngIf="(drinks$ | async) && !listView"
    class="main"
  >
    <div class="main__cards">

      <app-drink-item
        *ngFor="let drink of (drinks$ | async);"
        [drink]="drink"
        [userIsAuth]="userIsAuth"
        [starreds]="starreds"
      ></app-drink-item>

    </div>
  </div>

  <!-- LIST VIEW -->
  <div
    @fadeTrigger
    *ngIf="(drinks$ | async) && listView"
    class="list"
  >

    <table class="list__titles">

      <th class="list__titles--short">Star</th>
      <th class="list__titles--cell">Name</th>
      <th class="list__titles--short">Form</th>
      <th class="list__titles--cell">Season</th>
      <th class="list__titles--short">Size</th>
      <th class="list__titles--cell mobile-hide">Caffeine/Tea</th>
      <th class="list__titles--short mobile-hide">#</th>
      <th class="list__titles--cell mobile-hide">Syrup/Dried Fruit</th>
      <th class="list__titles--short mobile-hide">#</th>
      <th class="list__titles--cell mobile-hide">Body/Shaker</th>
      <th class="list__titles--cell mobile-hide">Base Style</th>
      <th class="list__titles--short mobile-hide">#</th>
      <th class="list__titles--short mobile-hide">WC</th>
      <th class="list__titles--cell mobile-hide">Topping</th>
      <th class="list__titles--cell mobile-hide">Custom</th>

    </table>

    <div class="list__items">

      <app-drink-line
        *ngFor="let drink of (drinks$ | async);"
        [drink]="drink"
        [userIsAuth]="userIsAuth"
        [starreds]="starreds"
      ></app-drink-line>

    </div>

  </div>

</div>
