<div class="drink-list-container">

  <!-- SEARCH FEATURE -->
  <div class="search border-inset">

    <div class="search__list">
      <button
        (click)="onListView()"
        class="search__list--btn btn-small emboss"
      >{{ view }}</button>
    </div>

    <div class="search__bar">
      <form>
        <label>
          <input
            type="text"
            (keyup)="searchTerm.next($event)"
            placeholder="Search"
            class="search__bar--input"
            [ngClass]="{ 'search__bar--input-loading': searching }"
          >
        </label>
      </form>
    </div>

    <div class="search__sort">
      <button
        (click)="onSort()"
        class="search__sort--btn btn-small emboss"
      >Sort A - Z</button>
    </div>

    <div
      class="search__results"
      *ngIf="searchResults && !hidden"
    >
      <button
        (click)="onHideSearchResults()"
        *ngIf="searchResults.length > 0"
        class="search__results--close"
      >Close</button>

      <ul
        @fadeTrigger
        *ngFor="let result of searchResults | slice:0:9 | removeDuplicates"
      >
        <a
          [routerLink]="['/drinks/name', result.slug]"
          class="search__results--item"
        >{{ result?.name }}</a>
      </ul>
    </div>

  </div>

  <!-- MAIN VIEW -->
  <div
    @fadeTrigger
    *ngIf="!isLoading && !listView"
    class="main"
  >
    <div class="main__cards">

      <app-drink-item
        *ngFor="let drink of (drinks$ | async);"
        [drink]="drink"
        [userIsAuth]="userIsAuth"
        [starreds]="starreds"
      ></app-drink-item>

    </div>
  </div>

  <!-- LIST VIEW -->
  <div
    @fadeTrigger
    *ngIf="!isLoading && listView"
    class="list"
  >

    <table class="list__titles">

      <th class="list__titles--short">Starred</th>
      <th class="list__titles--cell">Name</th>
      <th class="list__titles--cell">Season</th>
      <th class="list__titles--short">Form</th>
      <th class="list__titles--short">Size</th>
      <th class="list__titles--cell">Caffeine Name</th>
      <th class="list__titles--short">Caffeine Count</th>
      <th class="list__titles--cell">Syrup Name</th>
      <th class="list__titles--short">Syrup Count</th>
      <th class="list__titles--cell">Body</th>
      <th class="list__titles--cell">Base Style</th>
      <th class="list__titles--short">Base Count</th>
      <th class="list__titles--short">Whipped Cream</th>
      <th class="list__titles--cell">Topping</th>
      <th class="list__titles--cell">Shaker</th>
      <th class="list__titles--cell">Shaker Addition</th>
      <th class="list__titles--cell">Dried Fruit</th>
      <th class="list__titles--cell">Custom</th>

    </table>

    <div class="list__items">

      <app-drink-line
        *ngFor="let drink of (drinks$ | async);"
        [drink]="drink"
        [userIsAuth]="userIsAuth"
        [starreds]="starreds"
      ></app-drink-line>

    </div>

  </div>

  <span
    *ngIf="isLoading"
    class="loading"
  >Loading...</span>

</div>
