.drink-list-container {
  display: grid;
  grid-template-rows:
    [search-start] 8vh
    [search-end main-start] 60vh
    [main-end];
}

.search {
  grid-row: search-start / search-end;
  align-content: center;

  display: grid;
  grid-template-columns:
    [list-start] 25vw
    [list-end bar-start] 50vw
    [bar-end sort-start] 25vw
    [sort-end];

  &__list {
    grid-column: list-start / list-end;

    display: grid;
    grid-template-rows: 99% 1%;

    @media only screen and (max-width: 26em) {
      //414
      align-self: center;
      justify-self: center;
      z-index: 100;

      height: 4.5vh;
      width: 6rem;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;

      background-color: var(--color-star);
      border-right: 0.1rem solid rgba(0, 0, 0, 0.25);
    }

    &--btn {
      align-self: center;
      justify-self: center;

      @media only screen and (max-width: 26em) {
        //414
        color: var(--color-mocha);
        font-size: var(--font-medium);
        text-shadow: none;

        span {
          display: none;
        }

        &:after {
          content: attr(btn-content);
        }
      }
    }
  }

  &__bar {
    grid-column: bar-start / bar-end;
    justify-self: center;

    display: grid;
    align-content: center;
    padding: 1rem;

    transition: all 0.3s cubic-bezier(0.71, 0.01, 0.09, 1.51);

    &--input {
      height: 4.5vh;
      width: 30rem;
      padding: 0.7rem 2rem;
      border-radius: 10rem;

      background-color: var(--color-star);
      color: var(--color-espresso);
      text-transform: uppercase;
      text-align: center;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.1rem 0 rgba(0, 0, 0, 0.7);

      transition: all 0.2s cubic-bezier(0.71, 0.01, 0.09, 1.51);

      &:focus {
        width: 35rem;
      }

      &-loading {
        font-size: 1.8rem;
      }
    }
  }

  &__sort {
    grid-column: sort-start / sort-end;

    display: grid;
    grid-template-rows: 99% 1%;

    @media only screen and (max-width: 26em) {
      //414
      align-self: center;
      justify-self: center;
      z-index: 100;

      height: 4.5vh;
      width: 6rem;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;

      background-color: var(--color-star);
      border-left: 0.1rem solid rgba(0, 0, 0, 0.25);
    }

    &--btn {
      align-self: center;
      justify-self: center;

      @media only screen and (max-width: 26em) {
        //414
        color: var(--color-mocha);
        text-shadow: none;

        span {
          display: none;
        }

        &:after {
          content: "A";
        }
      }
    }
  }

  &__results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;

    width: 30rem;
    padding: 2rem 3rem;
    border-radius: 0.8rem;
    background-color: rgba(black, 0.8);

    display: grid;
    justify-content: center;
    grid-auto-rows: max-content;
    gap: 0.2rem;

    &:empty {
      display: none;
    }

    font-size: var(--font-small);
    text-transform: uppercase;
    text-align: center;

    ul:not(:last-child) {
      border-bottom: 0.01rem solid var(--color-mocha);
    }

    &--item {
      transition: all 0.2s cubic-bezier(0.71, 0.01, 0.09, 1.51);

      &:hover {
        color: var(--color-white);
        letter-spacing: 0.2rem;
      }
    }

    &--close {
      position: fixed;
      top: -2rem;
      right: 1rem;

      background: none;
      color: var(--color-earth);
      text-transform: lowercase;
      font-weight: 300;

      &:hover {
        color: var(--color-white);
      }
    }
  }

  &__loading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
  }
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
  column-gap: 5rem;
  row-gap: 2.5rem;

  height: 112%;
  padding: 5rem 10rem;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  @media only screen and (max-width: 26em) {
    //414
    gap: 1rem;

    padding: 1rem;
  }
}

.list {
  padding-top: 3rem;

  text-transform: uppercase;

  &__titles {
    display: table;

    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    height: 5vh;
    width: 95vw;
    border-spacing: 0.5rem;

    font-size: var(--font-xsmall);

    &--cell {
      display: table-cell;

      width: 4.4vw;

      border-bottom: 0.1rem solid var(--color-blonde);

      text-align: start;
      vertical-align: bottom;
      font-weight: 400;
    }

    &--short {
      display: table-cell;

      width: 2vw;

      border-bottom: 0.1rem solid var(--color-blonde);

      text-align: start;
      vertical-align: bottom;
      font-weight: 400;
    }
  }

  &__items {
    position: fixed;
    transform: translate(0.2vw, 5vh);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    height: 52vh;
    width: 95.2vw; //ADD 0.2vw FOR SCROLL BAR

    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}
