.drink-list-container {
  display: grid;
  grid-template-rows:
    [search-start] 8vh
    [search-end main-start] 60vh
    [main-end];
}

.search {
  grid-row: search-start / search-end;
  align-content: center;

  display: grid;
  grid-template-columns:
    [list-start] 25vw
    [list-end bar-start] 50vw
    [bar-end sort-start] 25vw
    [sort-end];

  border-top: 0.01rem solid var(--color-mocha);
  border-bottom: 0.01rem solid var(--color-mocha);

  &__list {
    grid-column: list-start / list-end;
    justify-self: center;
  }

  &__bar {
    grid-column: bar-start / bar-end;
    justify-self: center;

    display: grid;
    align-content: center;
    padding: 1rem;

    &--input {
      height: 4.5vh;
      width: 30rem;
      padding: 0.7rem 2rem;
      border-radius: 10rem;

      background-color: var(--color-star);
      color: var(--color-espresso);
      text-transform: uppercase;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.1rem 0 rgba(0, 0, 0, 0.7);

      transition: all 0.2s ease;

      &:focus {
        width: 35rem;
      }

      &-loading {
        transform: translateY(-0.1rem);
        box-shadow: none;
      }
    }
  }

  &__sort {
    grid-column: sort-start / sort-end;
    justify-self: center;
  }

  &__results {
    //CENTER
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30rem;
    padding: 2rem 3rem;
    border-radius: 0.8rem;
    background-color: rgba(black, 0.5);

    display: grid;
    justify-content: center;
    grid-auto-rows: max-content;
    gap: 0.2rem;

    &:empty {
      display: none;
    }

    font-size: var(--font-small);
    text-transform: uppercase;
    text-align: center;

    ul:not(:last-child) {
      border-bottom: 0.01rem solid var(--color-mocha);
    }

    &--close {
      position: fixed;
      top: -2rem;
      right: 1rem;

      background: none;
      color: var(--color-earth);
      text-transform: lowercase;
      font-weight: 100;
    }
  }
}
