<div class="header">

  <div class="header__logo">
    <a
      routerLink="/"
      class="header__logo-svg box"
    >
      <img
        src="assets/logo.svg"
        alt="Baristabook logo"
      >
    </a>
  </div>

  <div class="header__user">

    <div
      *ngIf="!userIsAuth"
      class="header__user--container"
    >
      <!-- PLACEHOLDER FOR GRID COLUMNS TO BE 3 -->
      <span></span>
      <a
        routerLink="/auth/login/welcome"
        class="btn-medium emboss"
      >Login</a>
      <a
        routerLink="/auth/signup"
        class="btn-medium emboss"
      >Sign Up</a>
    </div>

    <div
      *ngIf="userIsAuth"
      class="header__user--container"
    >
      <button class="btn-medium emboss"><a
          routerLink="/user/profile"
          class="btn-medium emboss"
        >Profile</a></button>
      <button class="btn-medium emboss"><a
          routerLink="/user/starred"
          class="btn-medium emboss"
        >Starred</a></button>
      <button
        (click)="onLogout()"
        *ngIf="userIsAuth"
        class="btn-medium emboss"
      >Logout</button>
    </div>

    <!-- COSMETICS -->
    <div class="header__bg1">&nbsp;</div>
    <div class="header__bg2">&nbsp;</div>

  </div>

</div>
