<div class="header">

  <div class="header__logo">
    <a
      routerLink="/"
      class="header__logo-svg"
    > <img
        src="assets/logo.svg"
        alt="Baristabook logo"
      ></a>
  </div>

  <div class="header__user">

    <div
      *ngIf="!userIsAuth"
      class="header__user--container"
    >
      <!-- PLACEHOLDER FOR GRID COLUMNS TO BE 3 -->
      <span></span>
      <a
        routerLink="/auth/login"
        class="heading-2"
      >Login</a>
      <a
        routerLink="/auth/signup"
        class="heading-2"
      >Sign Up</a>
    </div>

    <div
      *ngIf="userIsAuth"
      class="header__user--container"
    >
      <button routerLink="/user/profile">Profile</button>
      <button routerLink="/user/starred">Starred</button>
      <button
        (click)="onLogout()"
        *ngIf="userIsAuth"
      >Logout</button>
    </div>

    <!-- COSMETICS -->
    <div class="header__bg1">&nbsp;</div>
    <div class="header__bg2">&nbsp;</div>

  </div>

</div>
