<div class="header">

  <div class="header__logo">
    <a
      routerLink="/"
      class="header__logo-svg box"
    >
      <img
        src="assets/logo.svg"
        alt="Baristabook logo"
      >
    </a>
  </div>

  <div class="header__user">

    <div
      *ngIf="!userIsAuth"
      class="header__user--container"
    >

      <!-- PLACEHOLDER FOR GRID COLUMNS TO BE 3 -->
      <span class="placeholder"></span>

      <a
        routerLink="/auth/login/welcome"
        class="header__user--container-login btn-medium pointer"
      >
        <span class="emboss">Login</span>
        <img
          src="assets/auth-login.svg"
          alt="Login icon"
        >
      </a>

      <a
        routerLink="/auth/signup"
        class="header__user--container-signup btn-medium pointer"
      >
        <span class="emboss">Sign Up</span>
        <img
          src="assets/auth-signup.svg"
          alt="Signup icon"
        >
      </a>

    </div>

    <div
      *ngIf="userIsAuth"
      class="header__user--container"
    >

      <a
        routerLink="/user/profile"
        class="header__user--container-profile btn-medium pointer"
      >
        <span class="emboss">Profile</span>
        <img
          src="assets/auth-profile.svg"
          alt="Profile icon"
        >
      </a>

      <a
        routerLink="/user/starred"
        class="header__user--container-starred btn-medium pointer"
      >
        <span class="emboss">Starred</span>
        <img
          src="assets/auth-starred.svg"
          alt="Starred icon"
        >
      </a>

      <button
        (click)="onLogout()"
        *ngIf="userIsAuth"
        class="header__user--container-logout btn-medium pointer"
      >
        <span class="emboss">Logout</span>
        <img
          src="assets/auth-logout.svg"
          alt="Logout icon"
        >
      </button>

    </div>

    <!-- COSMETICS -->
    <div class="header__bg1">&nbsp;</div>
    <div class="header__bg2">&nbsp;</div>

  </div>

</div>
