.header {
  display: grid;
  grid-template-columns:
    [logo-start] 33vw
    [logo-end] 1fr
    [user-start] 34vw
    [user-end];

  @media only screen and (max-width: 87em) {
    //1400
    grid-template-columns:
      [logo-start] 43vw
      [logo-end] 1fr
      [user-start] 44vw
      [user-end];
  }

  &__logo {
    grid-column: logo-start / logo-end;

    padding-bottom: 2vh;
    padding-left: 4.5vw;

    transition: all 0.3s cubic-bezier(0.71, 0.01, 0.09, 1.51);

    img {
      height: 10vh;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__user {
    grid-column: user-start / user-end;

    &--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      width: 100%;

      align-content: flex-end;
      justify-content: space-between;
      justify-items: center;

      padding-bottom: 4vh;
      padding-right: 4.5vw;
    }
  }

  &__bg1 {
    position: absolute;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100vw;
    background-color: var(--color-mocha);
    clip-path: polygon(100% 20%, 100% 0, 0 0, 0 100%);

    z-index: -1;
  }

  &__bg2 {
    position: absolute;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100vw;
    background-color: var(--color-earth);
    clip-path: polygon(100% 80%, 100% 0, 0 0, 0 25%);

    z-index: -2;
  }
}
