.header {
  display: grid;
  grid-template-columns:
    [logo-start] 33vw
    [logo-end] 1fr
    [user-start] 34vw
    [user-end];

  @media only screen and (max-width: 87em) {
    //1400
    grid-template-columns:
      [logo-start] 43vw
      [logo-end] 1fr
      [user-start] 44vw
      [user-end];
  }

  &__logo {
    grid-column: logo-start / logo-end;

    padding-bottom: 0.5vh;
    padding-left: 4.5vw;

    transition: all 0.3s cubic-bezier(0.71, 0.01, 0.09, 1.51);

    img {
      height: 9vh;

      @media only screen and (max-height: 26em) {
        //414 LANDSCAPE
        transform: translateY(1rem);

        height: 12vh;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__user {
    grid-column: user-start / user-end;

    &--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: flex-end;
      justify-content: space-between;
      justify-items: center;

      height: 100%;
      width: 100%;

      padding-bottom: 2.5vh;
      padding-right: 4.5vw;

      img,
      .starred-icon {
        //ONLY SHOW ON MOBILE
        display: none;
      }

      @media only screen and (max-height: 26em) {
        //414 LANDSCAPE
        transform: translateY(1rem);

        padding-right: 2vw;
      }

      @media only screen and (max-width: 44em) {
        //700
        grid-template-columns: repeat(3, 4.5rem);
        justify-content: flex-end;
        justify-items: flex-end;

        padding-bottom: 2vh;
        padding-right: 2rem;

        span {
          display: none;
        }

        .placeholder {
          display: inline-block;
        }

        img {
          display: inline-block;

          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  &__bg1 {
    position: absolute;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100vw;
    background-color: var(--color-mocha);
    clip-path: polygon(100% 0, 0 0, 0 70%);

    z-index: -1;
  }

  &__bg2 {
    position: absolute;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100vw;
    background-color: var(--color-earth);
    clip-path: polygon(100% 0, 0 0, 100% 50%);

    z-index: -2;
  }
}
