extends base

block content
    form.form.form-user-data
        .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
        .form__group.ma-bt-md
            label.form__label(for='email') Email address
            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
        .form__group.form__photo-upload
            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
            input.form__upload(type='file', accept='image/*', id='photo', name='photo')
            label(for='photo') Choose new photo
        .form__group.right
            button.btn.btn--small.btn--green Save settings
    .line &nbsp;
    .user-view__form-container
        h2.heading-secondary.ma-bt-md Password change
        form.form.form-user-password
            .form__group
                label.form__label(for='password-current') Current password
                input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                label.form__label(for='password') New password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
                label.form__label(for='password-confirm') Confirm password
                input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
                button.btn.btn--small.btn--green.btn--save-password Save password