doctype html
html
    head
        block head
        meta(charset=`UTF-8`)
        meta(name=`viewport` content=`width=device-width, initial-scale=1.0`)
        title Barista Book | #{title}
        link(rel=`stylesheet` href=`/css/style.css`)
        link(rel=`shortcut icon` type=`image/png` href=`/img/favicon.jpg`)

    body(data-alert=`${alert ? alert : ''}`)
        include _header

        block content

        include _footer

        script(src=`/js/bundle.js`)