<div class="alert-container">

  <div
    *ngFor="let alert of alerts"
    class="{{ styleClass(alert) }}"
  >
    <span
      [innerHTML]="alert.message"
      class="alert__message"
    ></span>

    <a
      (click)="removeAlert(alert)"
      class="alert__close pointer"
    >&times;</a>

  </div>

</div>


<!-- UNCOMMENT FOR EASY STYLING -->
<!-- <div
  @fadeTrigger
  class="alert-container"
>

  <div class="alert alert__success">
    <span class="alert__message">You've logged in successfully.</span>

    <a
      href="#"
      class="alert__close pointer"
    >&times;</a>
  </div>


  <div class="alert alert__info">
    <span class="alert__message">You currently have no stars.</span>

    <a
      href="#"
      class="alert__close pointer"
    >&times;</a>
  </div>

  <div class="alert alert__warning">
    <span class="alert__message">You are reaching the starred limit.</span>

    <a
      href="#"
      class="alert__close pointer"
    >&times;</a>
  </div>

  <div class="alert alert__danger">
    <span class="alert__message">Your email or password was incorrect, please try again.</span>

    <a
      href="#"
      class="alert__close pointer"
    >&times;</a>
  </div>

</div> -->
