.drinks-container {
  display: grid;
  grid-template-rows: 78vh;
  align-content: center;
  justify-content: center;
}

.main__cards {
  display: flex;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;

  @media only screen and (max-width: 26em) {
    //414
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
  }
}
