.drinks-container {
  display: grid;
  grid-template-rows: 78vh;
  align-content: center;
  justify-content: center;
}

.main__cards {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
}
