.loading {
  transform: translateY(-10rem);
}

.reset {
  display: grid;
  grid-template-rows: 8vh 10vh 40vh;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;

  padding: 6rem 2rem;

  &__form {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 1rem;

    margin-top: 5vh;
    padding: 3rem;

    background-color: rgba(black, 0.6);
    border-radius: 0.8rem;

    &--label {
      font-size: 1.8rem;
      text-align: right;
      text-transform: lowercase;
      font-weight: 300;
      line-height: 1;
    }

    &--reset {
      grid-column: 2;
      justify-self: flex-end;

      transform: translateX(-4rem);
    }
  }
}
