<div class="signup">

  <span class="signup__title heading-big">
    Sign up
  </span>

  <p class="signup__welcome greeting">
    Create your own personalized Baristabook by signing up and starring drinks.
    Keep it handy and you’ll never have to remake a drink again!
    <small>(For the most part...)</small>
  </p>

  <form
    (submit)="onSignup(signupForm)"
    #signupForm="ngForm"
    *ngIf="!isLoading"
    class="signup__form"
  >

    <span class="signup__form--label">Name</span>
    <input
      required
      ngModel
      name="name"
      #nameInput="ngModel"
      class="signup__form--input input-bar"
    >

    <span class="signup__form--label">Email</span>
    <input
      type="email"
      required
      ngModel
      name="email"
      #emailInput="ngModel"
      class="signup__form--input input-bar"
    >

    <span class="signup__form--label">Password</span>
    <input
      type="password"
      required
      minlength="8"
      ngModel
      name="password"
      #passwordInput="ngModel"
      class="signup__form--input input-bar"
    >

    <span class="signup__form--label">Password confirm</span>
    <input
      type="password"
      required
      minlength="8"
      ngModel
      name="passwordConfirm"
      #passwordConfirmInput="ngModel"
      class="signup__form--input input-bar"
    >

    <button
      [disabled]="!signupForm.valid"
      class="signup__form--signup cta-btn"
    >Sign Up</button>

  </form>

  <span
    *ngIf="isLoading"
    class="loading"
  >Loading...</span>

</div>
