<span *ngIf="isLoading">Loading...</span>

<form
  (submit)="onSignup(signupForm)"
  #signupForm="ngForm"
  *ngIf="!isLoading"
>
  <input
    required
    ngModel
    name="name"
    #nameInput="ngModel"
  > Name
  <br>
  <input
    type="email"
    required
    ngModel
    name="email"
    #emailInput="ngModel"
  > Email
  <br>
  <input
    type="password"
    required
    ngModel
    name="password"
    #passwordInput="ngModel"
  > Password
  <br>
  <input
    type="password"
    required
    ngModel
    name="passwordConfirm"
    #passwordConfirmInput="ngModel"
  > Password Confirm
  <br>
  <button *ngIf="!isLoading">Sign Up</button>
</form>
