.signup {
  display: grid;
  grid-template-rows: 10vh 15vh 35vh;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: 1rem;

  padding: 6rem 2rem;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  @media only screen and (max-width: 22em) {
    //320
    grid-template-rows: 10vh 18vh 35vh;

    padding: 3rem 2rem;
  }

  @media only screen and (max-height: 28em) {
    //446 LANDSCAPE
    grid-template-rows: 10vh 18vh 35vh;

    padding-top: 0rem;
    padding-bottom: 6rem;
  }

  &__welcome {
    max-width: 60rem;

    font-size: var(--font-medium);
    text-align: justify;
  }

  &__form {
    align-self: flex-start;

    display: grid;
    grid-template-columns: 31% 69%;
    align-items: center;
    gap: 1rem;

    padding: 3rem;

    background-color: rgba(black, 0.6);
    border-radius: 0.8rem;

    &--label {
      font-size: 1.8rem;
      text-align: right;
      text-transform: lowercase;
      font-weight: 300;
      line-height: 1;
    }

    &--signup {
      grid-column: 2;
      justify-self: flex-end;

      position: relative;
      transform: translateX(-4.5rem);
    }
  }
}

.loading {
  transform: translateY(-6rem);
}
