.container {
  display: grid;
  grid-template-rows:
    [header-start] 17vh
    [header-end main-start] 1fr
    [main-end footer-start] 15vh
    [footer-end];
  height: 100vh;
}

app-header {
  grid-row: header-start / header-end;

  align-self: flex-end;
}

.main {
  grid-row: main-start / main-end;

  &__bg {
    position: fixed;
    bottom: 0;
    z-index: -1000;

    opacity: 0.05;

    &--1 {
      left: 0;
    }

    &--2 {
      right: 0;
    }
  }
}

app-footer {
  grid-row: footer-start / footer-end;

  align-self: flex-end;
}
