.drink-line {
  display: grid;
  grid-template-rows: 5vh 63vh;
  justify-content: center;

  padding-top: 3rem;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  &__items {
    display: table;

    border-spacing: 0.5rem;

    width: 95vw;

    &:hover {
      background-color: var(--color-mocha);
    }

    &--cell {
      display: table-cell;

      height: 5rem;
      width: 4.5vw;

      border-bottom: 0.1rem solid var(--color-mocha);

      font-weight: 600;
      text-align: end;

      @media only screen and (max-width: 76em) {
        //1200 CONTROL WITH drink-list
        width: 19vw;
      }

      &:hover {
        background-color: var(--color-coffee);
      }
    }

    &--short {
      display: table-cell;

      height: 5rem;
      width: 2vw;

      border-bottom: 0.1rem solid var(--color-mocha);

      font-weight: 600;
      text-align: end;
      word-break: break-all;

      @media only screen and (max-width: 76em) {
        //1200 CONTROL WITH drink-list
        width: 15vw;
      }

      &:hover {
        background-color: var(--color-coffee);
      }

      &-star {
        display: grid;
        align-content: flex-start;
        justify-content: flex-end;
        justify-items: flex-end;

        height: 100%;

        button {
          font-size: 2rem;

          &:hover {
            text-shadow: 0 0 0.5rem var(--color-espresso), 0 0 1rem currentColor,
              0 0 2rem var(--color-white);
          }
        }
      }
    }
  }
}

.mobile-hide {
  @media only screen and (max-width: 76em) {
    //1200 CONTROL WITH drink-list
    display: none;
  }
}

.starred {
  text-shadow: 0 0 0.5rem var(--color-espresso), 0 0 1rem currentColor,
    0 0 2rem var(--color-white);
}
