<div
  @fadeTrigger
  class="drink__line"
>
  <table class="drink-line__items">

    <tr class="drink-line__items--short">
      <div class="drink-line__items--short-star">
        <button
          *ngIf="userIsAuth"
          (click)="clickHandler($event)"
        >{{ star }}
        </button>

        <button
          *ngIf="!userIsAuth"
          [routerLink]="['/auth/login/star']"
          routerLinkActive="active"
          style="color: var(--color-earth);"
        >★
        </button>
      </div>
    </tr>

    <tr
      [routerLink]="['/drinks/name', drink.slug]"
      routerLinkActive="active"
      class="drink-line__items--cell pointer"
    >
      <div
        class="drink-line__items--cell-text scrollable"
        style="font-weight: 600;"
      >{{ drink?.name }}</div>
    </tr>

    <tr class="drink-line__items--short">
      <div class="drink-line__items--short-text scrollable">{{ drink?.form }}</div>
    </tr>
    <tr class="drink-line__items--cell">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.season }}</div>
    </tr>
    <tr class="drink-line__items--short">
      <div class="drink-line__items--short-text scrollable">{{ drink?.size }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.caffeine }}{{ drink?.tea }}</div>
    </tr>
    <tr class="drink-line__items--short mobile-hide">
      <div class="drink-line__items--short-text scrollable">{{ drink?.caffeineCount }}{{ drink?.teaCount }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.syrup }}</div>
    </tr>
    <tr class="drink-line__items--short mobile-hide">
      <div class="drink-line__items--short-text scrollable">{{ drink?.syrupCount }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.body }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.base }}</div>
    </tr>
    <tr class="drink-line__items--short mobile-hide">
      <div class="drink-line__items--short-text scrollable">{{ drink?.baseCount }}</div>
    </tr>
    <tr class="drink-line__items--short mobile-hide">
      <div class="drink-line__items--short-text scrollable">{{ drink?.whippedCream }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.topping }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.shaker }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.shakerAddition }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.driedFruit }}</div>
    </tr>
    <tr class="drink-line__items--cell mobile-hide">
      <div class="drink-line__items--cell-text scrollable">{{ drink?.custom }}</div>
    </tr>

  </table>
</div>
