<!-- SHARE -->
<div
  @fadeTrigger
  *ngIf="state === 'share'"
  class="share"
>
  <span class="share__title heading-big">Share</span>

  <div class="share__text greeting">
    Thank you for using our app! Please feel free
    to share with your coworkers, managers, neighbors, and
    especially your cat and dog.
  </div>

  <div class="elfsight-app-48a864ce-4cc5-4923-91d2-9f0ec1ab24ae share__btns"></div>

</div>

<!-- ABOUT -->
<div
  @fadeTrigger
  *ngIf="state === 'about'"
  class="about brief"
>

  <span class="about__title heading-big">About</span>

  <div class="about__text blurb scrollable">
    Baristas often need to memorize a great deal of recipes.
    With multiple updates and additions of new drinks every year,
    it's no wonder that many could get confused with the proper
    way to make them.
    <br>
    <br>
    Baristabook was created to enable baristas of all levels
    to craft drinks with a consistent quality. They can browse
    drink info to refresh their memory or save difficult ones in
    a personalized list for further study.
    <br>
    <br>
    This simple yet functional app was developed by a barista from
    the bustling strip of Las Vegas, NV in Q1 2020. And although she
    enjoys making drinks and asking-flexing on her cashiers, 'Is that all
    you've got?' when she runs out of said drinks... <small>(Only to be
      slammed dunked and be deceased thereafter...)</small> She intended
    for this app to be more than just a tool that could be used for
    work - but as a ticket to even greater heights.
  </div>

</div>

<!-- DISCLAIMER -->
<div
  @fadeTrigger
  *ngIf="state === 'disclaimer'"
  class="disclaimer brief"
>

  <span class="disclaimer__title heading-big">Disclaimer</span>

  <div class="disclaimer__text blurb scrollable">
    Baristabook is a fan-made app and is not affiliated with the
    Starbucks Coffee Company or any of its subsidiaries. The information
    shown on Baristabook is shared knowledge among baristas and does
    not represent actual Starbucks drinks or recipes. The trademark
    'Frappuccino' used in this site is for informational purposes only.
    No Starbucks logos or copyrights were used in the creation of this app.
    <br>
    <br>
    The information Baristabook provides is for general informational purposes
    only. Under no circumstance should we have liability to you for loss or
    damage as use of information on our site.
    <br>
    <br>
    Special thanks to:
    <ul>
      <li>
        <a
          href="https://www.flaticon.com/authors/freepik"
          title="Freepik"
        >Freepik</a>, <a
          href="https://www.flaticon.com/authors/good-ware"
          title="Good Ware"
        >Good Ware</a>, and <a
          href="https://www.flaticon.com/authors/monkik"
          title="monkik"
        >monkik</a> from <a
          href="https://www.flaticon.com/"
          title="Flaticon"
        >flaticon.com</a> for the drink seasons icons.
      </li>

      <li>
        <a href="https://hugogiraudel.com/">Hugo Giraudel</a>
        for a few CSS styles from
        <a href="https://tympanus.net/Tutorials/BasicReadyToUseCSSStyles/">
          Basic Ready to Use CSS Styles at Codrops</a>.
      </li>
    </ul>

  </div>

</div>

<!-- CONTACT US -->
<div
  @fadeTrigger
  *ngIf="state === 'contact-us' || state === 'sent' || state === 'fail'"
  class="contact-us"
>

  <span class="contact-us__title heading-big">Contact us</span>

  <div
    @fadeTrigger
    *ngIf="state === 'contact-us'"
    class="contact-us__text greeting"
  >
    Have a question, suggestion, or correction?
    Don’t hesitate to send us a message.
    Nice messages also accepted. Thank you Sharon.</div>

  <div
    @fadeTrigger
    *ngIf="state === 'sent'"
    class="contact-us__text greeting"
  >
    Thank you, your message has been sent!</div>

  <div
    @fadeTrigger
    *ngIf="state === 'fail'"
    class="contact-us__text greeting"
  >
    Sorry, there was an error. Please try again.</div>

  <form
    @fadeTrigger
    *ngIf="!isLoading && state === 'contact-us' || state === 'fail'"
    (submit)="onContact(contactForm)"
    #contactForm="ngForm"
    class="contact-us__form"
  >

    <textarea
      required
      minlength="50"
      ngModel
      name="message"
      #messageInput="ngModel"
      cols="30"
      rows="10"
      class="contact-us__form--message"
    ></textarea>

    <span class="contact-us__form--label">Email</span>
    <input
      type="email"
      required
      ngModel
      name="email"
      #emailInput="ngModel"
      class="contact-us__form--email"
    >

    <button
      [disabled]="!contactForm.valid"
      class="contact-us__form--send cta-btn"
    >Send</button>

  </form>
</div>
