.user-container {
  display: grid;
  grid-template-rows: 10vh 58vh;
  justify-content: center;
  justify-items: center;
}

.title {
  align-self: flex-start;
}

.user {
  align-self: flex-start;

  background-color: rgba(black, 0.6);
  border-radius: 0.8rem;

  padding: 1.5rem;

  &__form {
    align-self: center;

    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    &--label {
      font-size: 1.8rem;
      text-align: right;
      text-transform: lowercase;
      font-weight: 300;
      line-height: 1;
    }

    &--submit {
      grid-column: 2;
      justify-self: flex-end;

      position: relative;
      transform: translateX(-5rem);
    }
  }
}
