<div class="starred-list-container">

  <div class="sort border-inset">
    <button
      (click)="onSort()"
      class="sort__btn btn-small emboss"
    >Sort A - Z</button>
  </div>

  <div
    *ngIf="!isLoading"
    class="main"
  >
    <div class="main__cards">
      <app-starred-item
        *ngFor="let starredDrink of (starredsDrinks$ | async);"
        [starredDrink]="starredDrink"
        [starreds]="starreds"
      ></app-starred-item>
    </div>
  </div>

  <span
    *ngIf="isLoading"
    class="loading"
  >Loading...</span>

</div>
