.container {
  display: grid;
  grid-template-rows: 8vh 68vh;
}

.sort {
  display: grid;

  height: 8vh;

  &__btn {
    align-self: center;
    justify-self: center;
  }
}

.main {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: space-around;
    column-gap: 10rem;
    row-gap: 5rem;

    padding: 5rem 10rem;
  }
}
