.starred-list-container {
  display: grid;
  grid-template-rows: 8vh 60vh;
}

.sort {
  display: grid;

  height: 8vh;

  &__btn {
    align-self: center;
    justify-self: center;
  }
}

.main {
  //ADD ROOM FOR SCROLL
  height: 112%;
  padding-bottom: 10rem;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  @media only screen and (max-width: 65em) {
    //1024
    height: 100%;
    padding: 0 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: center;
    justify-content: space-around;
    column-gap: 10rem;
    row-gap: 5rem;

    padding: 5rem 10rem;

    @media only screen and (max-width: 65em) {
      //1024
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;

      margin: 0;
      padding: 0;

      height: 60vh;
      width: auto;

      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: thin;
    }
  }
}
