<div class="starred-list-container">

  <button
    (click)="onSort()"
    class="sort btn-1 emboss"
  >Sort A - Z</button>

  <div
    *ngIf="!isLoading"
    class="main"
  >
    <div class="main__cards-container">
      <app-starred-item
        *ngFor="let starredDrink of (starredsDrinks$ | async);"
        [starredDrink]="starredDrink"
        [starreds]="starreds"
      ></app-starred-item>
    </div>
  </div>

  <span
    *ngIf="isLoading"
    class="loading"
  >Loading...</span>

</div>
